@model BlackSys.Models.Modelos_transmetro.ConsultarBus

@{
    ViewBag.Title = "Eliminar Bus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>

<h3>Está seguro que desea eliminarlo?</h3>
<div>
    <h4>Eliminar Bus</h4>
    <hr />
    @foreach (var lista in ViewBag.Buses)
    {
        <dl class="dl-horizontal">
            <dt>
                Bus:
            </dt>

            <dd>
                @lista.nombre_bus
            </dd>

            <dt>
                Línea:
            </dt>

            <dd>
                @lista.nombre_linea
            </dd>

            <dt>
                Capacidad:
            </dt>

            <dd>
                @lista.capacidad
            </dd>

            <dt>
                Parqueo:
            </dt>

            <dd>
                @lista.nombre_parqueo
            </dd>

            <dt>
                Piloto:
            </dt>

            <dd>
                @lista.nombre_piloto
            </dd>

        </dl>

    }
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eiminar" class="btn btn-danger" /> |
            <a href="/Bus/Index" class="btn btn-primary">Regresar al Listado</a>
        </div>
    }
</div>
