@model BlackSys.Models.ResetPasswordViewModel
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Restrablecer Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ParentController = "Mange";
    ViewBag.ParentAction = "Index";
    //ViewBag.ParentTitle = "Mi Perfil";
}
<div class="col-md-9 col-sm-9">
    <h2>@ViewBag.Title.</h2>
    <div class="content-form-page">
        <div class="row">
            <div class="col-md-7 col-sm-7">
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Restablecer Contraseña.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @*@Html.HiddenFor(model => model.Code)*@
                    <div class="form-group">
                        <label class="col-md-3 control-label"> Nombre Usuario</label>
                        @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                        <div class="col-md-9">
                            @Html.TextBoxFor(m => m.UserName, new {@Readonly = true, @Value = @User.Identity.GetUserName(), @class = "form-control",})@*Toma el usuario que esta autenticado y bloequea el campo que 
                                                                                                                                                       usuario para que unicamente pueda cambiar la contrase;na de el mismo esta en *@
                        </div>
                    </div>
                    <div class="form-group">
                        @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                        <label class="col-md-3 control-label"> Contraseña</label>
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"> Confirmar Contraseña</label>
                        @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                        <div class="col-md-9">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn btn-default" value="Cambiar Contraseña" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
