
@{
    ViewBag.Title = "LineasAccesos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accesos por Línea</h2>

<head>
    <link href="~/Content/bootstrap-select.css" rel="stylesheet" />
</head>

@using (Html.BeginForm("LineasAccesos", "LineasAccesos", FormMethod.Post, new { @id = "frmInicio", @class = "form-horizontal   " }))
{
    <div class="form-group row">
        <label for="txt_project" class="col-sm-1 col-form-label">Seleccione una Línea</label>
        <div class="form-group col-xs-1">
            <input type="number" class="form-control hidden" name="idlinea" id="idlinea" value="">
        </div>
        <div class="form-group col-sm-5">
            @Html.DropDownList("dropdown_linea", null, "", new { @id = "cmb_linea", @onChange = "cmb_changelinea(this.value)", @title = "Seleccione una Línea", @class = "form-control font selectpicker ", data_container = "body", data_live_search = "true", data_hide_disabled = "true" })
        </div>
    </div>
}

<form method="post" action="" class="form-horizontal   " id="frmcontent" onSubmit="window.location.reset()">
    @if (ViewBag.Accesos == null)
    {

    }
    else
    {
        <div class="row">
            <div class="col-lg-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-user"></i>Listado de Accesos por Línea
                        </div>

                        <div class="tools">
                            <a href="javascript:;" class="collapse"> </a>
                            <a href="javascript:;" class="fullscreen"> </a>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="sys-table" cellspacing="0">
                            <thead>
                                <tr class="">

                                    <th class="col-id">Código de Línea</th>
                                    <th class="col-name">Nombre Línea</th>
                                    <th class="col-name">Nombre Estación</th>
                                    <th class="col-name">Nombre Acceso</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var i in ViewBag.Accesos)
                                {
                                    <tr class="">
                                        <td>@i.idlinea</td>
                                        <td>@i.nombre_linea</td>
                                        <td>@i.nombre_estacion</td>
                                        <td>@i.nombre_acceso</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    }
</form>


<script src="~/Content/bootstrap-select.js"></script>

<script>
    function cmb_changelinea(valor) {
        document.getElementById('idlinea').value = valor;
        document.getElementById('frmInicio').submit();
    }
</script>


